.kl{
    background-color: aqua;
    height: 273px;
    width: 540px;
}
.ft{
    mask-repeat: no-repeat;

     height: 67px ;
    width: 56px; 
    margin-left: 20px;
}
.bb{
    height: 10px ;
    width: 1px; 
    margin-left:193px; 
    margin-top: -63px;
}
.bi{
    height: 1px; 
    width: 1px; 
    margin-left: 397px; 
}
.us{
   margin-top:125px;
    margin-left: 195px; 
}
.para{
    position: absolute;
    border: 0px solid brown; 
    top: 151px;
    left: 571px;
    right: 15px;
}
.html{
    position: absolute;
    top: 500px;
}

.css{
    position: absolute;
    top: 500px;
    left: 165px;
}
.java{
    position: absolute;
    top: 500px;
    left: 300px;
}
.tag{
    position: absolute;
    top: 650px;
    left: 200px;
}
.js{
    position: absolute;
}
.git{
    position: fixed;
    top: 500px;
    left: 950px;
}
.fb{
    position: fixed;
    top: 430px;
    left: 930px;
}
.wa{
    position: fixed;
    top: 600px;
    left: 920px;
}